.idea
.python-version
/.venv*
/venv*
/conda_env*
/debug*
/workspace*
/models*
/training_concepts
/training_samples
/training_user_settings
/external
debug*.py
debug*.ipynb
train.bat
config.json
*.pyc
*.bak
/src
# pixi environments
.pixi
*.egg-info
