# base requirements
numpy==1.24.4
opencv-python==4.8.0.74
pillow==10.0.1
tqdm==4.64.1
PyYAML==6.0
huggingface-hub==0.16.4

# pytorch
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.0+cu118
torchvision==0.16.0+cu118
accelerate==0.21.0
safetensors==0.3.1
tensorboard==2.14.1
pytorch-lightning==2.0.3

# stable diffusion
git+https://github.com/huggingface/diffusers.git@06b316e#egg=diffusers
transformers==4.31.0
omegaconf==2.3.0 # needed to load stable diffusion from single ckpt files
invisible-watermark==0.2.0 # needed for the SDXL pipeline

# other models
onnxruntime==1.15.1
pooch==1.7.0
open-clip-torch==2.22.0

# data loader
git+https://github.com/Nerogar/mgds.git@2773628#egg=mgds

# xformers
xformers==0.0.22.post4+cu118

# optimizers
--extra-index-url=https://jllllll.github.io/bitsandbytes-windows-webui --prefer-binary
bitsandbytes==0.41.1 # bitsandbytes for 8-bit optimizers
dadaptation==3.1 # dadaptation optimizers
lion-pytorch==0.0.6 # lion optimizer
prodigyopt==1.0 # prodigy optimizer

# ui
customtkinter==5.1.2