# pytorch
--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.7.1+cu128
torchvision==0.22.1+cu128
onnxruntime-gpu==1.22.0

# optimizers
bitsandbytes==0.46.0 # bitsandbytes for 8-bit optimizers and weight quantization

# masking
-e git+https://github.com/facebookresearch/sam2.git@main#egg=sam-2 # SAM2.X requires a custom CUDA kernel, meaning you cant install on AMD or CPU only - https://github.com/facebookresearch/sam2/issues/71#issuecomment-2261391926
