# Note: AMD requirements might be outdated. If you can provide information about running OneTrainer on AMD,
# please open an issue or pull request on github

# pytorch
--extra-index-url https://download.pytorch.org/whl/rocm6.3
torch==2.7.1+rocm6.3  #intentionally not upgraded because of reported problems
torchvision==0.22.1+rocm6.3
onnxruntime==1.22.1

# optimizers
# TODO
